body {
    font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
    }
a {color: #3333FF;text-decoration: none;}
h1 a {color: #000000; text-decoration: none;}
h2 a {color: #000000; text-decoration: none;}
h3 a {color: #000000; text-decoration: none;}
a:visited {color: #000099;}
a:hover {color: #3333FF;}
a:active {color: #6666FF;}
body > div {margin: auto; width: 640px;}
input textarea {font-family: 'Courier New'; font-size: 10pt;}
.hidden {display: none;}
#footer {color: grey; font-size: small; text-align: center;}

td {
	vertical-align: top;
	font-family: "Arial";
	font-size: 10pt;
}
#jsonrView {
    padding: 4px;
	border: 1px solid #CCCCCC;
}
.jsonrError {
	background-color: #FFDDEE;
}
#jsonrModelError {
	font-family: "Courier New";
	color: Crimson;
}
#jsonrObjectError {
	font-family: "Courier New";
	color: Crimson;
}